<div class="sidebar-sticky">
    <ul class="nav flex-column">

        <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/rapport']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <i class="material-icons md-18">book</i>

                <span>Rapport</span>
            </a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/rapport2']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <i class="material-icons md-18">face</i>

                <span>Rapport2</span>
            </a>
        </li>

    </ul>
</div>